# Python
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
.venv/
venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Variables d'environnement
.env

# Flask
instance/

# Logs
*.log

# Migrations compilées
migrations/__pycache__/

# Frontend
node_modules/
dist/

# Système
Thumbs.db
.DS_Storec